<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :browers %><br />
    <% for browser in Useragent::BROWSER_TYPES %>
      <%= check_box_tag 'job[browsers][]', browser, @job.browsers && @job.browsers.include?(browser) %> <%= browser %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :suites %><br />
    <%= f.text_area :suites, :value => @job.suites && @job.suites.map{|n, v| "#{n}: #{v}" }.join("\n") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
