<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Name</th>
    <th>Revision</th>
    <th>Status</th>
    <th>Browsers</th>
    <th>Suites</th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.test_creation_date %></td>
    <td><%= job.user.email %></td>
    <td><%= link_to_if job.url, job.name, job.url %></td>
    <td><%= job.revision %></td>
    <td><%= job.status %></td>
    <td><%= job.browsers %></td>
    <td><%= job.suites.keys.join(', ') %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete if can? :destroy, job %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path if can? :create, Job %>
