<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function(){
      console.log("ready");
      var jobStatus;
      var updateTimer = setInterval(function(){
        console.log('updateTimer');
        if (jobStatus !== '<%= Job::DONE %>') {
          $('#runs').load('<%= job_path(@job) %>');
        } else {
          clearTimer(updateTimer);
        }
      }, 30000);
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @job.name.html_safe %>
</p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Browsers:</b>
  <%= @job.browsers %>
</p>

<%# FIXME: This next bit is a mess %>

<b>Runs</b>

<div id="runs">
  <%= render :partial => 'show', :locals => { :job => @job } %>
</div>

<%= link_to 'Back', jobs_path %>
