<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Browsers:</b>
  <%= @job.browsers %>
</p>

<b>Runs</b>
<% useragents = Useragent.with_browser(@job.browsers).order('id') %>
<table>
  <tr>
    <th></th>
  <% for ua in useragents %>
    <th><%= ua.name %></th>
  <% end %>
  </tr>
<% for run in @job.runs %>
  <tr>
    <th><%= run.name %></th>
  <% for uarun in run.useragent_runs.order('useragent_id') %>
    <td><%= uarun.runs %></td>
  <% end %>
  </tr>
<% end %>
</table>


<%= link_to 'Back', jobs_path %>
