<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Browsers:</b>
  <%= @job.browsers %>
</p>

<p>
  <b>Suites:</b>
  <%= @job.suites %>
</p>


<%= link_to 'Edit', edit_job_path(@job) if can? :edit, @job %> |
<%= link_to 'Back', jobs_path %>
