<h1>Listing clients</h1>

<table>
  <tr>
    <th>User</th>
    <th>Useragent</th>
    <th>Os</th>
    <th>Useragent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.user_id %></td>
    <td><%= client.useragent_id %></td>
    <td><%= client.os %></td>
    <td><%= client.useragentstr %></td>
    <td><%= link_to 'Show', client if can?(:read, client) %></td>
  </tr>
<% end %>
</table>
