<%= form_for(@useragent) do |f| %>
  <% if @useragent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@useragent.errors.count, "error") %> prohibited this useragent from being saved:</h2>

      <ul>
      <% @useragent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :engine %><br />
    <%= f.text_field :engine %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :current %>
    <%= f.check_box :current %>
  </div>
  <div class="field">
    <%= f.label :popular %>
    <%= f.check_box :popular %>
  </div>
  <div class="field">
    <%= f.label :gbs %>
    <%= f.check_box :gbs %>
  </div>
  <div class="field">
    <%= f.label :beta %>
    <%= f.check_box :beta %>
  </div>
  <div class="field">
    <%= f.label :mobile %>
    <%= f.check_box :mobile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
