<!DOCTYPE html>
<html>
<head>
  <title>RubySwarm</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <%= yield :head if content_for?(:head) %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <p>
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path %>
    <%= link_to 'Edit registration', edit_user_registration_path %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
  <% end %>
    <%= link_to "Home", root_path unless request.path == '/' %>
  </p>

  <hr />

<%= yield %>

</body>
</html>
